.form {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
  margin: 0 auto;
}
.input {
  margin: 10px 0 25px;
  height: 25px;
}
.btn {
  padding: 10px 15px;
  border-radius: 8px;
  border: 3px solid blueviolet;
  background-color: rgb(160, 132, 185);
  font-weight: 500;
  color: white;
  cursor: pointer;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
  transform: scale(1.1);
}
